ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

li {
  display: inline-block;
}

h1 {
  font-weight: 400;
  margin-left: 15px;
}

.search-bar {
  margin: 15px;
  text-align: left;
}

.search-bar input {
  width: 65.7%;
  margin-right: 10px;
}

.top-marg {
  margin-top: 3px;
}

.video-item img {
  max-width: 62px;
}

.list-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-detail {
  margin-top: 10px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  height: 115px;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.vid-title {
  font-size: 1.2em;
  font-weight: 500;
}

.App-header {
  background-color: #333;
  color: #00d8ff;
}

.App-intro {
  font-size: large;
}

.App-title {
  margin-top: 8px;
  padding-left: 15px;
  font-weight: 400;
}
